<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{pageTitle}}</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="copyright" content="">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/css.css">
</head>
<body>
	{{> header}}
	{{> footer}}
</body>
</html>